@tailwind base;
@tailwind components;
@tailwind utilities;

/*
trix-editor ul {
    list-style-type: disc;
    margin-left: 20px;
}

trix-editor ol {
    list-style-type: decimal;
    margin-left: 20px;
}

trix-editor li {
    margin-bottom: 5px;
} */
.page-container {
    display: flex;
    flex-direction: column; /* Stack vertically */
    justify-content: space-between; /* Distribute space between items */
    height: 100vh; /* Required for spacing */
  }
  /* Hide arrows/spinners in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows/spinners in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
